.placeholder-animation {
  background-color: #E7E7E7;
  animation: pulse 1.5s infinite alternate;
}

.placeholder-animation-dark {
  background-color: rgba(245, 251, 254, 0.1);
  animation: pulse 1.5s infinite alternate;
}

@keyframes pulse {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}